In [1]:
# Import dependencies
import pandas as pd
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [2]:
#Read file
red_wine_df = pd.read_csv("Resources/winequality-red.csv", sep=",")
white_wine_df = pd.read_csv("Resources/winequality-white.csv", sep=",")

In [3]:
#print red wine df
print(red_wine_df.shape)
red_wine_df.head()

(1599, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
#print white wine df
print(white_wine_df.shape)
white_wine_df.head()

(4898, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
#Check features with missing values for red
red_wine_df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
#Check features with missing values for white
white_wine_df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [7]:
#Check if there are duplicate rows in these datasets significant/need to be dropped.
white_wine_df.duplicated().sum()

937

In [8]:
#Check if there are duplicate rows in these datasets significant/need to be dropped.
red_wine_df.duplicated().sum()

240

In [9]:
#Find the number of unique values for quality in eeach dataset
red_wine_df.quality.nunique()

6

In [10]:
#Find the number of unique values for quality in eeach dataset
white_wine_df.quality.nunique()

7

In [11]:
#Calculate he mean density in the red wine dataset
red_wine_df.density.mean()

0.9967466791744841

In [12]:
#Calculate he mean density in the red wine dataset
white_wine_df.density.mean()

0.9940273764801959

Appending Data
- Merging the two datasets, red and white wine data, into a single data
- Create Color Columns Create two arrays as long as the number of rows in the red and white
  dataframes that repeat the value “red” or “white.”

In [13]:
# create color array for red dataframe
color_red = np. repeat('red',red_wine_df.shape[0])
# create color array for white dataframe
color_white = np.repeat ('white',white_wine_df.shape[0])

In [14]:
#Adding arrays to the red dataframes
red_wine_df['color']=color_red
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [15]:
#Adding arrays to the white dataframes
white_wine_df['color']=color_white
white_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

Combine Data with Append.

In [32]:
#append dataframes
wine_df_merged = pd.concat([red_wine_df, white_wine_df], axis =0)
# view dataframe to check for success
wine_df_merged.head()
#wine_df.info()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [33]:
#Save newly combined Dataframes
wine_df_merged.to_csv('winequality_cleaned.csv', index=False)