In [4]:
# Import dependencies
import pandas as pd
import numpy as np
from pprint import pprint
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [6]:
#Read file
red_wine_df = pd.read_csv("Resources/winequality-red.csv", sep=";")
white_wine_df = pd.read_csv("Resources/winequality-white.csv", sep=";")

In [8]:
#print red wine df
print(red_wine_df.shape)
red_wine_df.head()

(1599, 1)

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0                                                                                                  7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1                                                                                                  7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2                                                                                               7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3                                                                                              11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4                                                                                                  7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [9]:
#print white wine df
print(white_wine_df.shape)
white_wine_df.head()

(4898, 1)

  fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0                                                                                                  7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6
1                                                                                                6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6
2                                                                                               8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6
3                                                                                              7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6
4                                                                                              7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6

In [13]:
#Check features with missing values for red
red_wine_df.isnull().sum()

fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality    0
dtype: int64

In [14]:
#Check features with missing values for white
white_wine_df.isnull().sum()

fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality    0
dtype: int64

In [15]:
#Check if there are duplicate rows in these datasets significant/need to be dropped.
white_wine_df.duplicated().sum()

937

In [16]:
#Check if there are duplicate rows in these datasets significant/need to be dropped.
red_wine_df.duplicated().sum()

240

In [17]:
#Find the number of unique values for quality in eeach dataset
red_wine_df.quality.nunique()

AttributeError: 'DataFrame' object has no attribute 'quality'

In [28]:
#Find the number of unique values for quality in eeach dataset
#white_wine_df.quality.nunique()

In [26]:
#Calculate he mean density in the red wine dataset
#red_wine_df.density.mean()

In [27]:
#Calculate he mean density in the red wine dataset
#white_wine_df.density.mean()

Appending Data
- Merging the two datasets, red and white wine data, into a single data
- Create Color Columns Create two arrays as long as the number of rows in the red and white
  dataframes that repeat the value “red” or “white.”

In [21]:
# create color array for red dataframe
color_red = np. repeat('red',red_wine_df.shape[0])
# create color array for white dataframe
color_white = np.repeat ('white',white_wine_df.shape[0])

In [22]:
#Adding arrays to the red dataframes
red_wine_df['color']=color_red
red_wine_df.head()

,"fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality",color
0,"7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5",red
1,"7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5",red
2,"7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5",red
3,"11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6",red
4,"7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5",red

In [23]:
#Adding arrays to the white dataframes
white_wine_df['color']=color_white
white_wine_df.head()

,"fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality",color
0,"7,0.27,0.36,20.7,0.045,45,170,1.001,3,0.45,8.8,6",white
1,"6.3,0.3,0.34,1.6,0.049,14,132,0.994,3.3,0.49,9.5,6",white
2,"8.1,0.28,0.4,6.9,0.05,30,97,0.9951,3.26,0.44,10.1,6",white
3,"7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6",white
4,"7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.4,9.9,6",white

Combine Data with Append.

In [24]:
#append dataframes
wine_df = red_wine_df.append(white_wine_df)
# view dataframe to check for success
wine_df.head()
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 4897
Data columns (total 2 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality  6497 non-null   object
 1   color                                                                                                                                              6497 non-null   object
dtypes: object(2)
memory usage: 152.3+ KB

C:\Users\cuteo\AppData\Local\Temp\ipykernel_29444\1286905696.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  wine_df = red_wine_df.append(white_wine_df)

In [25]:
#Save newly combined Dataframes
wine_df.to_csv('winequality_cleaned.csv', index=False)